In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2022-03-31 19:47:34,-42.8794,147.3294,53.46,75,100,6.91
1,1,Cawayan,PH,2022-03-31 20:00:30,9.9718,122.6249,79.72,81,61,6.69
2,2,Thompson,CA,2022-03-31 19:50:35,55.7435,-97.8558,41.16,33,75,8.05
3,3,Camocim,BR,2022-03-31 20:00:31,-2.9022,-40.8411,76.60,87,100,8.14
4,4,Norman Wells,CA,2022-03-31 20:00:31,65.2820,-126.8329,-9.02,84,100,14.20

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Cawayan,PH,2022-03-31 20:00:30,9.9718,122.6249,79.72,81,61,6.69
3,3,Camocim,BR,2022-03-31 20:00:31,-2.9022,-40.8411,76.60,87,100,8.14
6,6,Vanimo,PG,2022-03-31 20:00:32,-2.6741,141.3028,77.32,88,91,8.99
7,7,Rikitea,PF,2022-03-31 20:00:32,-23.1203,-134.9692,78.04,66,75,15.03
8,8,Georgetown,MY,2022-03-31 19:48:53,5.4112,100.3354,78.73,93,20,3.44
10,10,Arraial Do Cabo,BR,2022-03-31 20:00:33,-22.9661,-42.0278,77.90,83,23,13.47
14,14,Jaguaribe,BR,2022-03-31 20:00:35,-5.8906,-38.6219,84.38,62,100,2.13
15,15,Butaritari,KI,2022-03-31 20:00:35,3.0707,172.7902,80.67,80,29,14.70
19,19,Allada,BJ,2022-03-31 20:00:37,6.6655,2.1514,80.89,81,100,9.55
24,24,Mahebourg,MU,2022-03-31 20:00:39,-20.4081,57.7000,79.25,76,99,18.21

In [14]:
preferred_cities_df.count()

City_ID       171
City          171
Country       171
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Cawayan      PH     79.72   9.9718  122.6249
3           Camocim      BR     76.60  -2.9022  -40.8411
6            Vanimo      PG     77.32  -2.6741  141.3028
7           Rikitea      PF     78.04 -23.1203 -134.9692
8        Georgetown      MY     78.73   5.4112  100.3354
10  Arraial Do Cabo      BR     77.90 -22.9661  -42.0278
14        Jaguaribe      BR     84.38  -5.8906  -38.6219
15       Butaritari      KI     80.67   3.0707  172.7902
19           Allada      BJ     80.89   6.6655    2.1514
24        Mahebourg      MU     79.25 -20.4081   57.7000

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df

            City Country  Max Temp      Lat       Lng              Hotel Name
1        Cawayan      PH     79.72   9.9718  122.6249   Paradise Beach Resort
3        Camocim      BR     76.60  -2.9022  -40.8411        Ilha Praia Hotel
6         Vanimo      PG     77.32  -2.6741  141.3028   Vahmoneh Lodge Vanimo
7        Rikitea      PF     78.04 -23.1203 -134.9692         People ThankYou
8     Georgetown      MY     78.73   5.4112  100.3354          Cititel Penang
..           ...     ...       ...      ...       ...                     ...
544    Tayoltita      MX     83.48  24.0833 -105.9333  Hotel Rivera Tayoltita
545      Wahiawa      US     77.47  21.5028 -158.0236    The Inn At Schofield
547  Mandleshwar      IN     86.83  22.1833   75.6667     Mahalaxmi Bhojnalay
549       Acarau      BR     76.33  -2.8856  -40.1200        castelo pizzaria
552       Owando      CG     78.12  -0.4819   15.8999    Exaunel Hotel Owando

[171 rows x 6 columns]

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))